<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.dragora.luigipapino_babylon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true" android:name=".MyApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.list.ContactListActivity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.details.ContactDetailActivity_"
            android:label="@string/title_person_detail"
            android:parentActivityName=".ui.list.ContactListActivity_"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.list.ContactListActivity_" />
        </activity>

        <provider
            android:authorities="net.dragora.luigipapino_babylon.provider.ContactsProvider"
            android:name="net.dragora.luigipapino_babylon.data.schematic_providers.generated.ContactsProvider"
            android:exported="false"/>
    </application>

</manifest>
